
        label{
            color:blueviolet;
        }
        body{
            background-color:azure;
        }

        .botao{
            background-color: green;
        }

        button{
            background-color:blue;
        }

        h1{
            color:black;
        }