*{
    color:rgb(21, 57, 23);
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
h1{
    color:white;
}
h2{
    color:brown;

}
h3{
    color:black;
}
#economy{
    background-color: #A38C32;
}
#sports{
    background-color:green;
}
body{
    background-color: black;
}

.creation-date{
    color:black;
}

.container{
    width: 1366px;
    margin: 0 auto 0 auto;
}